@import url("https://fonts.googleapis.com/css?family=Muli:r,b|Playfair+Display:r,b");
html {
  font-family: "Muli";
  font-size: 17px; }

.header-text {
  font-family: "Playfair Display";
  font-size: 1.5em;
  font-weight: bolder; }

.title-text {
  font-family: "Playfair Display";
  font-size: 1.25em; }

p {
  font-family: "Muli"; }

h1 {
  font-family: "Playfair Display";
  letter-spacing: 3px; }

a,
nav ul a {
  color: #3a3a3a;
  font-family: "Playfair Display"; }
  a:hover,
  nav ul a:hover {
    background-color: white;
    color: gold;
    transition: all 0.3s ease; }

.banner-full-width {
  width: 100%;
  height: 13em;
  color: white;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .banner-full-width h1 {
    margin: 0 auto; }

.contained {
  margin: 5% 10%; }

.image-content-layout .image-column {
  padding: 15px 15px 0 0; }
  .image-content-layout .image-column figure {
    margin: 0 0 10% 0; }
  .image-content-layout .image-column figcaption {
    font-style: italic; }
  .image-content-layout .image-column img {
    width: 100%; }

.scroll-to:before {
  content: '';
  display: block;
  position: relative;
  width: 0;
  height: 5.5em;
  margin-top: -5.5em; }

nav li:hover {
  background-color: white; }

nav {
  background-color: white;
  box-shadow: none;
  padding: 0 5%; }
  nav ul a {
    padding: 0;
    margin-right: 5px; }
  nav .nav-wrapper .left,
  nav .nav-wrapper .right {
    text-transform: lowercase;
    letter-spacing: 3px;
    width: 10%;
    font-size: 1.25em; }
  nav .brand-logo img {
    width: 75px;
    margin-top: 11px; }
  nav .dropdown-menu {
    display: none; }
    nav .dropdown-menu li {
      margin-right: 10px; }
  nav .dropdown-link:hover .dropdown-menu {
    background-color: #fff;
    margin: 0;
    display: block !important;
    min-width: 100px;
    max-height: 650px;
    overflow-y: auto;
    position: absolute;
    z-index: 999;
    will-change: width, height; }

.hamburger-icon {
  display: none; }
  .hamburger-icon:hover {
    cursor: pointer; }

#mobile-dropdown {
  display: none; }
  #mobile-dropdown li {
    float: none; }
    #mobile-dropdown li a {
      text-transform: uppercase; }

@media only screen and (max-width: 992px) {
  .hamburger-icon {
    display: inline;
    color: #3a3a3a; } }
.hero h1 {
  text-transform: uppercase;
  font-family: "Playfair Display";
  font-size: 4vw;
  text-align: center;
  letter-spacing: 3px;
  padding: 0 10%; }
.hero img {
  width: 100%; }

.intro {
  font-size: 1.25em; }

.featured .banner-full-width {
  background: linear-gradient(rgba(14, 12, 12, 0.7), rgba(14, 12, 12, 0.7)), url("./assets/img/banner_pink_lion.jpg") no-repeat center; }

.mission .banner-full-width {
  background: linear-gradient(rgba(14, 12, 12, 0.7), rgba(14, 12, 12, 0.7)), url("./assets/img/banner_three_standing.jpg") no-repeat center;
  background-size: cover; }

.card .card-title {
  height: 65px; }
.card .card-image iframe {
  width: 100%; }

.about-us .banner-full-width {
  background: linear-gradient(rgba(14, 12, 12, 0.7), rgba(14, 12, 12, 0.7)), url("./assets/img/banner_three_standing.jpg") no-repeat center;
  background-size: cover; }

.community .banner-full-width {
  background: linear-gradient(rgba(14, 12, 12, 0.7), rgba(14, 12, 12, 0.7)), url("./assets/img/banner_three_standing.jpg") no-repeat center;
  background-size: cover; }
.community h2 {
  text-transform: lowercase; }
.community .content-column {
  margin-top: -38px; }

.history .banner-full-width {
  background: linear-gradient(rgba(14, 12, 12, 0.7), rgba(14, 12, 12, 0.7)), url("./assets/img/banner_three_standing.jpg") no-repeat center;
  background-size: cover; }
.history p:first-child {
  margin-top: 10px; }

.gallery.--photo .contained figure {
  vertical-align: top;
  display: inline-block; }
.gallery.--photo .contained figcaption {
  display: block; }
.gallery.--photo .contained img {
  width: 100%; }

/*# sourceMappingURL=stylez.css.map */
