@import url("https://fonts.googleapis.com/css?family=Muli:r,b|Playfair+Display:r,b");
html {
  font-family: "Muli";
  font-size: 17px; }

.header-text {
  font-family: "Playfair Display";
  font-size: 1.5em;
  font-weight: bolder; }

.title-text {
  font-family: "Playfair Display";
  font-size: 1.25em; }

p {
  font-family: "Muli";
  font-size: 16px; }

h1 {
  font-family: "Playfair Display";
  letter-spacing: 3px; }

a,
nav ul a,
.side-nav li > a,
.dropdown-content li > a {
  color: #3a3a3a;
  font-family: "Playfair Display";
  font-size: 0.75rem; }
  a:hover,
  nav ul a:hover,
  .side-nav li > a:hover,
  .dropdown-content li > a:hover {
    background-color: white;
    color: gold;
    transition: all 0.3s ease; }

.banner-full-width {
  width: 100%;
  height: 10em;
  color: white;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .banner-full-width h1 {
    margin: 0 auto; }

.contained {
  margin: 2% 10%; }

.image-content-layout .image-column {
  padding: 15px 15px 0 0; }
  .image-content-layout .image-column figure {
    margin: 0 0 10% 0; }
  .image-content-layout .image-column figcaption {
    font-style: italic; }
  .image-content-layout .image-column img {
    width: 100%; }

.scroll-to:before {
  content: '';
  display: block;
  position: relative;
  width: 0;
  height: 5.5em;
  margin-top: -5.5em; }

#sidenav-overlay {
  background-color: transparent !important;
  z-index: 0 !important; }

nav {
  background-color: white;
  box-shadow: none;
  padding: 0 5%; }
  nav a {
    text-transform: lowercase; }
  nav li:hover,
  nav .side-nav li > a:hover {
    background-color: white; }
  nav .nav-wrapper {
    text-transform: lowercase;
    letter-spacing: 3px;
    font-size: 1.25em; }
  nav .regular-nav li {
    width: 8.5rem;
    text-align: center; }
  nav .button-collapse .material-icons {
    color: #3a3a3a; }
  nav .brand-logo img {
    width: 75px;
    margin-top: 4px; }

.hero h1 {
  text-transform: uppercase;
  font-family: "Playfair Display";
  font-size: 2vw;
  text-align: center;
  letter-spacing: 5px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 1rem; }
.hero img {
  width: 100%; }

.intro {
  font-size: 1.25em; }

.featured .banner-full-width {
  background: linear-gradient(rgba(14, 12, 12, 0.7), rgba(14, 12, 12, 0.7)), url("./assets/img/banner_pink_lion.jpg") no-repeat center; }

.mission .banner-full-width {
  background: linear-gradient(rgba(14, 12, 12, 0.7), rgba(14, 12, 12, 0.7)), url("./assets/img/banner_three_standing.jpg") no-repeat center;
  background-size: cover; }

.card .card-title {
  height: 65px; }
.card .card-image iframe {
  width: 100%; }

.about-us .banner-full-width {
  background: linear-gradient(rgba(14, 12, 12, 0.7), rgba(14, 12, 12, 0.7)), url("./assets/img/banner_three_standing.jpg") no-repeat center;
  background-size: cover; }

.community .banner-full-width {
  background: linear-gradient(rgba(14, 12, 12, 0.7), rgba(14, 12, 12, 0.7)), url("./assets/img/banner_three_standing.jpg") no-repeat center;
  background-size: cover; }
.community h2 {
  text-transform: lowercase; }
.community .content-column {
  margin-top: -38px; }

.history .banner-full-width {
  background: linear-gradient(rgba(14, 12, 12, 0.7), rgba(14, 12, 12, 0.7)), url("./assets/img/banner_three_standing.jpg") no-repeat center;
  background-size: cover; }
.history p:first-child {
  margin-top: 10px; }

.gallery.--photo .contained figure {
  vertical-align: top;
  display: inline-block; }
.gallery.--photo .contained figcaption {
  display: block; }
.gallery.--photo .contained img {
  width: 100%; }

@media only screen and (min-width: 601px) {
  nav,
  nav .nav-wrapper i,
  nav a.button-collapse,
  nav a.button-collapse i,
  .navbar-fixed {
    height: 50px;
    line-height: 50px; } }

/*# sourceMappingURL=stylez.css.map */
