$accent-font: 'Playfair Display';
$header-size: 1.5em;
$title-size: 1.25em;
$default-font: 'Muli';

@import url('https://fonts.googleapis.com/css?family=Muli:r,b|Playfair+Display:r,b');

.header-text {
  font-family: $accent-font;
  font-size: $header-size;
  font-weight: bolder;
}

.title-text {
  font-family: $accent-font;
  font-size: $title-size;
}

p {
  font-family: $default-font;
}

nav {
  .nav-wrapper li {
    font-family: $accent-font;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 10%;
    text-align: center;
    font-size: $title-size;
  }

  .dropdown-content {
  }
}